/* formatting */



h1 {
	font: 2.25em/1 Helvetica, sans-serif;
	margin-bottom: .667em;
}
.h222 {
	font: 1.5em/1 Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: .667em;
}
.ppp {
	margin-bottom: 1em;
}
.buttonnnn {
	display: block;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background-color: #0071fc;
	padding: .5em
}

.sidebarr {
	padding: 2em 1.5em;
	background-color: white;
}

@media (min-width:43.75em) {

	/* responsive layout */
	
	.sidebarr {
		display: inline-block;
		vertical-align: top;
	}

	/* loaded fixed-sticky polyfill
	https://github.com/filamentgroup/fixed-sticky */
	.fixedsticky {
		top: 0;
	}
}